@model IEnumerable<Book>
@{
    ViewData["Title"] = "Книги";
}
<h3>Книги</h3>
<a href="~/Admin/Index">Назад</a>
<br />
<br />
<a href="~/Book/Book">Добавить</a>
@foreach (var b in Model) {
    <p>
        <img src="data:image/jpeg;base64, @Convert.ToBase64String(b.Image)"
             style="width: 100px" />
        <br />
        <table>
            <tr>
                <td>Название</td>
                <td>@b.Name</td>
            </tr>
            <tr>
                <td>Автор</td>
                <td>@b.Author.Patronymic</td>
            </tr>
            <tr>
                <td>Издательство</td>
                <td>@b.Publisher.Name</td>
            </tr>
            <tr>
                <td>@Html.ActionLink("Изменить", "Book", new { id = b.Id })</td>
                <td>@Html.ActionLink("Удалить", "RemoveBook", new { id = b.Id })</td>
            </tr>
        </table>
    </p>
}