@model Book
@{
    ViewData["Title"] = Model.Name;
}
<a href="~/Home/Index">Назад</a>
<fieldset>
    <legend>Информация о Книге</legend>
    <p><img src="data:image/jpeg;base64, @Convert.ToBase64String(Model.Image)" style="width: 180px;" /></p>
    <p>
        <b>Название:</b><br />
        @Model.Name
    </p>
    <p>
        <b>Автор:</b><br />
        @Model.Author.Fullname
    </p>
    <p>
        <b>Издательство:</b><br />
        @Model.Publisher.Name
    </p>
    <p>
        <a href="@Url.Content(Model.Path)"><b>Читать</b></a>
    </p>
</fieldset>